@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background: white;
  margin: 9.25rem 1.5rem 4rem;
  padding: 8rem 1.5rem 3rem;
  height: auto;
  border-radius: 20px;
  position: relative;
  width: calc(375px - 3rem);
  -webkit-box-shadow: 0px 25px 25px -25px #3c284d;
          box-shadow: 0px 25px 25px -25px #3c284d;
}

.container .illustration {
  z-index: 2;
  position: absolute;
  top: -110px;
  left: 1rem;
}

.container .mobile-shadow {
  position: absolute;
  top: 0;
  left: 2.7rem;
}

.container h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.container ul {
  list-style-type: none;
  color: var(--dark-grayish-blue);
  font-size: .85rem;
}

.container ul li {
  padding: 1rem 0 1rem;
  border-bottom: 1px solid var(--light-grayish-blue);
  position: relative;
  cursor: pointer;
}

.container ul li .arrow {
  position: absolute;
  top: 1.4rem;
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container ul li:active ~ .question {
  color: #f47c57;
}

.container ul .answer {
  display: none;
  padding-top: .5rem;
  padding-right: 1rem;
  font-size: .75rem;
}

.orange-box {
  display: none;
}

.desktop-shadow {
  display: none;
}

@media (min-width: 1050px) {
  .container {
    padding: 4rem 5rem 6rem 20rem;
    margin: 7rem 0 7rem;
    width: 85vw;
    max-width: 950px;
    min-height: 72.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-y: hidden;
  }
  .container .desktop-flex-left {
    position: relative;
  }
  .container .desktop-flex-left .mobile-shadow {
    display: none;
  }
  .container .desktop-flex-left .illustration, .container .desktop-flex-left .desktop-shadow {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 450px;
  }
  .container .desktop-flex-left .illustration {
    left: -25.8rem;
    top: 3.5rem;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .container .desktop-flex-left .desktop-shadow {
    display: block;
    -webkit-transform: scale(2);
            transform: scale(2);
    left: -35.5rem;
    bottom: 0;
  }
  .container .desktop-flex-right {
    width: 66.6%;
  }
  .container .desktop-flex-right h1 {
    text-align: left;
    font-size: 2.2rem;
    padding-bottom: 2rem;
  }
  .container .desktop-flex-right ul {
    font-size: 1rem;
  }
  .container .desktop-flex-right ul li {
    padding: 1.2rem 0 1.2rem;
  }
  .transparent-div {
    width: 150px;
    min-height: 100vh;
    background: white;
    position: absolute;
    left: -150px;
    background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
    background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
    top: -9.25rem;
    z-index: 3;
  }
  .orange-box {
    display: block;
    position: absolute;
    left: -6rem;
    top: 14.21rem;
    z-index: 4;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */